<table class="container">
    <thead>
        <tr>
            <th><h1>Name</h1></th>
            <th><h1>Barcode</h1></th>
            <th><h1>Quantity</h1></th>
            <th><h1>Unit Price</h1></th>
            <th><h1>Currency</h1></th>
            <th><h1>Total Price</h1></th>
            <th><h1>Actions</h1></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td>{{ product.Name }}</td>
            <td>{{ product.Barcode }}</td>
            <td>{{ product.Quantity }}</td>
            <td>{{ product.UnitPrice }}</td>
            <td>{{ product.CurrencyDescription }}</td>
            <td>{{ product.TotalPrice }}</td>
            <td>
                <button ng-click="onRemove(product)" class="btn btn-success">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remove
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="row container" ng-repeat="total in totalsByCurrency" style="padding:0">
    <div class="col-lg-12">
        <span class="filter">{{total.currency}}: </span><span>{{total.amount}}  </span>
    </div>
</div>