@inherits System.Web.WebPages.WebPage
@RenderPage("~/Views/Shared/Shared.cshtml")

<div ng-app="mainModule" ng-controller="SellProductManagementController">
    <div class="container form-group" style="padding:0">
        <div class="row">
            <div class="col-lg-3">
                <label class="filter">Name</label>
                <input type="text" name="Name" ng-model="productName" />
            </div>
            <div class="col-lg-3">
                <label class="filter">Phone Number</label>
                <input type="text" name="Name" ng-model="phoneNumber" />
            </div>
            <div class="col-lg-3">
                <label class="filter">Customer: </label>
                <label>{{customerName}}</label>
            </div>
            <div class="col-lg-3">
                <button ng-click="onSell()" class="btn btn-success button-right">
                    <span class="glyphicon glyphicon-plus"></span>
                    Sell
                </button>
            </div>
        </div>
    </div>

    <sellproduct-grid on-ready="onSellProductGridReady"></sellproduct-grid>

   
</div>