@inherits System.Web.WebPages.WebPage
@RenderPage("~/Views/Shared/Shared.cshtml")

<div ng-app="mainModule" ng-controller="ProductManagementController">
    <div class="container form-group" style="padding:0">
        <div class="row">
            <div class="col-lg-8">
                <div col-lg-3>
                    <label class="filter">Name</label>
                    <input type="text" name="Name" ng-model="productName" />

                </div>
            </div>
            <div class="col-lg-2">
                <button ng-click="onSearch()" class="btn btn-success button-right">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
            </div>
            <div class="col-lg-2">
                <button ng-click="onAdd()" class="btn btn-success button-right">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
            </div>
        </div>
    </div>

    <product-grid on-ready="onProductGridReady"></product-grid>
</div>