<div ng-app="mainModule" ng-controller="CurrencyEditorController" ng-hide="isLoading">
    <div class="modal-header alert alert-success">
        <button type="button" class="close" ng-click="onCancelClicked()">&times;</button>
        <h4 class="modal-title" ng-show="edit">Edit Currency</h4>
        <h4 class="modal-title" ng-show="!edit">Add Currency</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <label>Name</label>
                <input type="text" ng-model="Name" class="form-control" required />
            </div>
            <div class="col-lg-6">
                <label>Symbol</label>
                <input type="text" ng-model="Symbol" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="onSaveClicked()" class="btn btn-success">
            <span class="glyphicon glyphicon-floppy-save"></span>
            Save
        </button>
        <button type="button" class="btn btn-danger" ng-click="onCancelClicked()">
            <span class="glyphicon glyphicon-remove"></span>
            Close
        </button>
    </div>
</div>