<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Site.css" />
<script src="~/Views/Shared/layout.js"></script>
<script src="~/Scripts/angular-1.4.8.js"></script>

<script src="~/Scripts/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="~/Scripts/MainModule.js"></script>
<script src="~/Services/ModalService.js"></script>
<script src="~/APIServices/WebAPIService.js"></script>

<script src="~/APIServices/ProductManagementAPIService.js"></script>
<script src="~/Views/Product/ProductManagement.chtml"></script>
<script src="~/Views/Product/ProductManagementController.js"></script>
<script src="~/Views/Product/product-grid.js"></script>
<script src="~/Views/Product/ProductGrid.html"></script>
<script src="~/Views/Product/ProductEditorController.js"></script>
<script src="~/Views/Product/ProductEditor.html"></script>
<script src="~/Views/Product/product-selector.js"></script>
<script src="~/Views/Product/ProductSelector.html"></script>

<sript src="~/APIServices/CurrencyManagementAPIService.js"></sript>
<script src="~/Views/Currency/CurrencyManagement.chtml"></script>
<script src="~/Views/Currency/CurrencyManagementController.js"></script>
<script src="~/Views/Currency/currency-grid.js"></script>
<script src="~/Views/Currency/CurrencyGrid.html"></script>
<script src="~/Views/Currency/CurrencyEditorController.js"></script>
<script src="~/Views/Currency/CurrencyEditor.html"></script>
<script src="~/Views/Currency/currency-selector.js"></script>
<script src="~/Views/Currency/CurrencySelector.html"></script>

<script src="~/APIServices/CustomerInvoiceManagementAPIService.js"></script>

<script src="~/Views/SellProducts/SellProductManagement.chtml"></script>
<script src="~/Views/SellProducts/SellProductManagementController.js"></script>
<script src="~/Views/SellProducts/sellproduct-grid.js"></script>
<script src="~/Views/SellProducts/SellProductGrid.html"></script>
@*<script src="~/Views/Currency/CurrencyEditorController.js"></script>*@
@*<script src="~/Views/Currency/CurrencyEditor.html"></script>*@
@*<script src="~/Views/Currency/currency-selector.js"></script>*@
@*<script src="~/Views/Currency/CurrencySelector.html"></script>*@

<script src="~/APIServices/CustomerManagementAPIService.js"></script>
<script src="~/Views/Customer/CustomerManagement.chtml"></script>
<script src="~/Views/Customer/CustomerManagementController.js"></script>
<script src="~/Views/Customer/customer-grid.js"></script>
<script src="~/Views/Customer/CustomerGrid.html"></script>
<script src="~/Views/Customer/CustomerEditorController.js"></script>
<script src="~/Views/Customer/CustomerEditor.html"></script>
<script src="~/Views/Customer/customer-selector.js"></script>
<script src="~/Views/Customer/CustomerSelector.html"></script>

<nav>
    <a href="#">Home</a>
    <a href="~/Views/Customer/CustomerManagement.cshtml">Customers</a>
    <a href="~/Views/Product/ProductManagement.cshtml">Products</a>
    <a href="~/Views/Currency/CurrencyManagement.cshtml">Currencies</a>
    <a href="~/Views/SellProducts/SellProductManagement.cshtml">Sell Products</a>
    <div class="animation start-home"></div>
</nav>
