<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="customer in customers">
        <td>{{ customer.ID }}</td>
        <td>{{ customer.FirstName }}</td>
        <td>{{ customer.LastName }}</td>
        <td>{{ customer.PhoneNumber }}</td>
        <td>
            <button ng-click="onEdit(customer)" class="btn btn-success">
                <span class=" glyphicon glyphicon-edit"></span>
                Edit
            </button>
        </td>
    </tr>
</table>